[Unit]
Description=x-ui Service
After=network.target

[Service]
Type=simple
ExecStart=/usr/local/x-ui/x-ui
Restart=always
User=runner
WorkingDirectory=/usr/local/x-ui
Environment=HOME=/home/runner
Environment=DISPLAY=

[Install]
WantedBy=multi-user.target
