name: httpflood

on:
  workflow_dispatch:
    inputs:
      url:
        description: 'The URL to test'
        required: true
        default: 'https://icy-river-2da8.alt-00e.workers.dev/'

jobs:
  fetch_logs:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v3

      - name: Setup Python
        uses: actions/setup-python@v4
        with:
          python-version: 3.11

      - name: Install dependencies
        run: |
          python -m pip install --upgrade pip
          pip install aiohttp

      - name: Run flood script
        run: python sub/actions/http.py ${{ github.event.inputs.url }}
