name: itdoghttp

on:
  workflow_dispatch:

jobs:
  http_test:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v3

      - name: Setup Python
        uses: actions/setup-python@v4
        with:
          python-version: 3.11

      - name: Install dependencies
        run: |
          python -m pip install --upgrade pip
          pip install aiohttp  # 只需要安装 aiohttp

      - name: Run python script
        run: python sub/actions/itdoghttp.py
